<app-categories></app-categories>
<div class="container content">
  <div class="row">
    <div class="col-sm-3" style ="padding: 0;">
      <app-left-menu></app-left-menu>
    </div>
   
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <div class="form-group form-inline" style="margin-left: 20px;">
            <label style="margin-right: 20px;">Сортировать по: </label>
            <select class="form-control col-sm-5">
              <optgroup label="Цена">
                <option>По возростанию</option>
                <option>По убыванию</option>
              </optgroup>
              <optgroup label="Число ставок">
                <option>По возростанию</option>
                <option>По убыванию</option>
              </optgroup>
              <optgroup label="Время выставления">
                <option>По возростанию</option>
                <option>По убыванию</option>
              </optgroup>
              <optgroup label="Время окончания">
                <option>По возростанию</option>
                <option>По убыванию</option>
              </optgroup>
              <optgroup label="Название">
                <option>От А до Я</option>
                <option>От Я до А</option>
              </optgroup>
              <optgroup label="Продавец">
                <option>От А до Я</option>
                <option>От Я до А</option>
              </optgroup>
            </select>
          </div>
          <div class="lot card">
            <div class="row">
              <div class="img col-sm-4 d-flex align-self-center justify-content-center">
                <img src="../assets/images/1.jpg" class="img-fluid rounded" />
              </div>
              <div class="data col-sm-5 d-flex align-items-start flex-column">
                <label style="-webkit-box-orient: vertical;"
                       title="Give the label white-space: pre-wrap and it will break line as the text area does">
                  Iphone 6s Neverloc White Super Great Buy America
                </label>
                <small class="mb-auto">Украина</small>
                <div class="d-flex" style="font-size: 10pt;">
                  <span style="margin-right: 80px;">До окончания: <b>2 дн.</b></span>
                  <span><b>26 ставок</b> сделано</span>
                </div>
              </div>
              <div class="price col-sm-3 d-flex align-items-end flex-column">
                <label class="mb-auto"><b>500000 грн.</b></label>
                <span>Автор: Rostyslav</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
